In [1]:
import numpy as np
import polars as pl
import pandas as pd

In [3]:
# Using polars
ser = pl.Series(name="Column 01", values=np.random.random(5))

ser

shape: (5,)
Series: 'Column 01' [f64]
[
	0.161771
	0.56673
	0.323103
	0.104818
	0.293035
]

In [4]:
ser[2]

0.3231028330151916

In [5]:
from pandas_datareader import data as wb

In [11]:
from datetime import datetime

start_date = datetime(2020, 1, 1)
end_date = datetime(2024, 3, 20)

In [30]:
# Using yfinance
import yfinance as yf
data_aapl = yf.download("AAPL", start=start_date, end=end_date)
data_aapl.columns

[*********************100%***********************]  1 of 1 completed

MultiIndex([( 'Close', 'AAPL'),
            (  'High', 'AAPL'),
            (   'Low', 'AAPL'),
            (  'Open', 'AAPL'),
            ('Volume', 'AAPL')],
           names=['Price', 'Ticker'])

In [56]:
# Combining yfinace with pandas_datareader
data_btc = yf.download('BTC', start=datetime(2020,1,1))
data_btc.head()

[*********************100%***********************]  1 of 1 completed

Price           Close       High        Low       Open   Volume
Ticker            BTC        BTC        BTC        BTC      BTC
Date
2024-07-31  28.950001  29.650000  28.799999  29.500000   930940
2024-08-01  28.100000  28.799999  27.600000  28.650000  8564500
2024-08-02  27.799999  29.049999  27.650000  28.750000  2412560
2024-08-05  23.750000  24.650000  22.000000  22.049999  3141140
2024-08-06  25.250000  25.350000  24.150000  24.500000  1690140

In [58]:
yf.download('PG').head()

[*********************100%***********************]  1 of 1 completed

Price          Close      High       Low Open   Volume
Ticker            PG        PG        PG   PG       PG
Date
1962-01-02  0.253060  0.255134  0.251677  0.0   192000
1962-01-03  0.250294  0.253060  0.248220  0.0   428800
1962-01-04  0.246146  0.250986  0.246146  0.0   326400
1962-01-05  0.244417  0.246837  0.241306  0.0   544000
1962-01-08  0.237849  0.243034  0.235083  0.0  1523200

In [12]:
# Working with fred data
fred_data = wb.DataReader("GDP", "fred", start_date, end_date)
fred_data

                  GDP
DATE
2020-01-01  21727.657
2020-04-01  19935.444
2020-07-01  21684.551
2020-10-01  22068.767
2021-01-01  22656.793
2021-04-01  23368.861
2021-07-01  23921.991
2021-10-01  24777.038
2022-01-01  25215.491
2022-04-01  25805.791
2022-07-01  26272.011
2022-10-01  26734.277
2023-01-01  27164.359
2023-04-01  27453.815
2023-07-01  27967.697
2023-10-01  28296.967
2024-01-01  28624.069

In [21]:
# Fama French data
fama_french = wb.DataReader("F-F_Research_Data_Factors", "famafrench")
fama_french.items()

/var/folders/xy/0r3_1y9d2lb3rl3znp1dmszc0000gn/T/ipykernel_74593/3343175496.py:2: FutureWarning: The argument 'date_parser' is deprecated and will be removed in a future version. Please use 'date_format' instead, or read your data in as 'object' dtype and then call 'to_datetime'.
  fama_french = wb.DataReader("F-F_Research_Data_Factors", "famafrench")
/var/folders/xy/0r3_1y9d2lb3rl3znp1dmszc0000gn/T/ipykernel_74593/3343175496.py:2: FutureWarning: The argument 'date_parser' is deprecated and will be removed in a future version. Please use 'date_format' instead, or read your data in as 'object' dtype and then call 'to_datetime'.
  fama_french = wb.DataReader("F-F_Research_Data_Factors", "famafrench")

dict_items([(0,          Mkt-RF   SMB    HML    RF
Date
2020-03  -13.39 -4.79 -13.88  0.13
2020-04   13.65  2.45  -1.34  0.00
2020-05    5.58  2.49  -4.85  0.01
2020-06    2.46  2.69  -2.23  0.01
2020-07    5.77 -2.30  -1.44  0.01
2020-08    7.63 -0.28  -2.88  0.01
2020-09   -3.63 -0.03  -2.65  0.01
2020-10   -2.10  4.27   4.31  0.01
2020-11   12.47  5.72   2.15  0.01
2020-12    4.63  4.79  -1.34  0.01
2021-01   -0.03  7.50   2.85  0.01
2021-02    2.78  2.07   7.10  0.00
2021-03    3.08 -2.28   7.27  0.00
2021-04    4.93 -3.20  -0.95  0.00
2021-05    0.29 -0.27   7.13  0.00
2021-06    2.75  1.60  -7.75  0.00
2021-07    1.27 -3.94  -1.81  0.00
2021-08    2.91 -0.46  -0.10  0.00
2021-09   -4.37  0.67   5.10  0.00
2021-10    6.65 -2.37  -0.45  0.00
2021-11   -1.55 -1.32  -0.41  0.00
2021-12    3.10 -1.64   3.22  0.01
2022-01   -6.25 -5.96  12.80  0.00
2022-02   -2.29  2.19   3.10  0.00
2022-03    3.06 -1.66  -1.76  0.01
2022-04   -9.46 -1.38   6.17  0.01
2022-05   -0.34 -1.96   8.59  0.03
2022-06   -8.44  2.18  -6.10  0.06
2022-07    9.57  2.80  -4.03  0.08
2022-08   -3.77  1.40   0.29  0.19
2022-09   -9.35 -0.82   0.02  0.19
2022-10    7.83  0.07   8.06  0.23
2022-11    4.61 -3.51   1.41  0.29
2022-12   -6.41 -0.69   1.34  0.33
2023-01    6.64  5.01  -4.00  0.35
2023-02   -2.59  1.17  -0.83  0.34
2023-03    2.51 -5.51  -8.87  0.36
2023-04    0.61 -3.36  -0.05  0.35
2023-05    0.35  1.60  -7.74  0.36
2023-06    6.47  1.55  -0.20  0.40
2023-07    3.21  2.05   4.11  0.45
2023-08   -2.39 -3.20  -1.08  0.45
2023-09   -5.24 -2.49   1.45  0.43
2023-10   -3.18 -3.88   0.19  0.47
2023-11    8.83 -0.03   1.66  0.44
2023-12    4.87  6.36   4.92  0.43
2024-01    0.70 -5.02  -2.47  0.47
2024-02    5.07 -0.22  -3.52  0.42
2024-03    2.83 -2.51   4.22  0.43
2024-04   -4.67 -2.39  -0.52  0.47
2024-05    4.34  0.78  -1.67  0.44
2024-06    2.77 -3.06  -3.31  0.41
2024-07    1.24  6.80   5.74  0.45
2024-08    1.61 -3.55  -1.13  0.48
2024-09    1.74 -0.17  -2.59  0.40
2024-10   -0.97 -1.01   0.89  0.39
2024-11    6.51  4.63  -0.05  0.40
2024-12   -3.17 -2.73  -2.95  0.37), (1,       Mkt-RF    SMB    HML    RF
Date
2020   23.66  12.72 -46.10  0.45
2021   23.57  -3.78  25.39  0.04
2022  -21.58  -7.04  25.97  1.43
2023   21.69  -3.28 -13.70  4.95
2024   19.78 -11.13  -9.10  5.26), ('DESCR', 'F-F Research Data Factors\n-------------------------\n\nThis file was created by CMPT_ME_BEME_RETS using the 202412 CRSP database. The 1-month TBill rate data until 202405 are from Ibbotson Associates. Starting from 202406, the 1-month TBill rate is from ICE BofA US 1-Month Treasury Bill Index. Copyright 2024 Eugene F. Fama and Kenneth R. French\n\n  0 : (58 rows x 4 cols)\n  1 : Annual Factors: January-December (5 rows x 4 cols)')])

In [22]:
# Working with world banks
world_bank_data = wb.DataReader("NY.GDP.MKTP.CD", "wb", start_date,end_date)
world_bank_data

NotImplementedError: data_source='wb' is not implemented

In [59]:
aapl = yf.Ticker('AAPL')

In [70]:
aapl.history(period="10y")

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2015-03-23 00:00:00-04:00,28.389415,28.552443,28.255417,28.409513,150838800,0.0,0.0
2015-03-24 00:00:00-04:00,28.413980,28.594873,28.264349,28.293383,131369200,0.0,0.0
2015-03-25 00:00:00-04:00,28.259881,28.322413,27.554165,27.554165,206620800,0.0,0.0
2015-03-26 00:00:00-04:00,27.415709,27.889163,27.379976,27.746233,190291600,0.0,0.0
2015-03-27 00:00:00-04:00,27.819931,27.848963,27.449208,27.525139,158184800,0.0,0.0
...,...,...,...,...,...,...,...
2025-03-17 00:00:00-04:00,213.309998,215.220001,209.970001,214.000000,48073400,0.0,0.0
2025-03-18 00:00:00-04:00,214.160004,215.149994,211.490005,212.690002,42432400,0.0,0.0
2025-03-19 00:00:00-04:00,214.220001,218.759995,213.750000,215.240005,54385400,0.0,0.0
2025-03-20 00:00:00-04:00,213.990005,217.490005,212.220001,214.100006,48862900,0.0,0.0
2025-03-21 00:00:00-04:00,211.559998,218.839996,211.279999,218.270004,93954500,0.0,0.0

In [68]:
btc = yf.Ticker("BTC")
btc.history(period="10y")

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Capital Gains
Date,,,,,,,,
2024-07-31 00:00:00-04:00,29.500000,29.650000,28.799999,28.950001,930940,0.0,0.0,0.0
2024-08-01 00:00:00-04:00,28.650000,28.799999,27.600000,28.100000,8564500,0.0,0.0,0.0
2024-08-02 00:00:00-04:00,28.750000,29.049999,27.650000,27.799999,2412560,0.0,0.0,0.0
2024-08-05 00:00:00-04:00,22.049999,24.650000,22.000000,23.750000,3141140,0.0,0.0,0.0
2024-08-06 00:00:00-04:00,24.500000,25.350000,24.150000,25.250000,1690140,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
2025-03-17 00:00:00-04:00,36.750000,37.564999,36.540001,37.450001,854000,0.0,0.0,0.0
2025-03-18 00:00:00-04:00,36.509998,36.549999,35.930000,36.430000,820500,0.0,0.0,0.0
2025-03-19 00:00:00-04:00,37.200001,38.129002,37.049999,37.889999,1009200,0.0,0.0,0.0
2025-03-20 00:00:00-04:00,37.720001,38.349998,37.040001,37.310001,608000,0.0,0.0,0.0
2025-03-21 00:00:00-04:00,37.060001,37.400002,36.830002,37.189999,527000,0.0,0.0,0.0

In [71]:
import requests

In [72]:
url_investment = "https://es.investing.com/crypto/bitcoin/historical-data"

In [74]:
response = requests.get(url_investment)
print(response)

<Response [403]>

In [113]:
import os
import pathlib

path = os.path.dirname(os.getcwd())

In [114]:
df_btc = pl.read_csv(f"{path}/files/hist-btc-010120-22032025.csv")

In [118]:
df_btc.write_parquet(f"{path}/files/btc-01012020-2203202.parquet")